:root{

    --portfolio-container-width:980px;
    --portfolio-container-height:585px;
    --introduction-image-offset:15px;

    --profile-image-size:430px;

    --introduction-width:548px;
    --introduction-height:430px;

    --intro-title-size:54px;
    --intro-paragraph-size:16px;
    
    /* FOCUS SECTION */
    --focus-container-width:1240px;
    --focus-container-offset:10px;
    --focus-sub-container-width:620px;
    --focus-title-size:54px;
    --focus-sub-title-size:28px;
    --focus-text-size:18px;
    --portfolio-font-color:#DFE6E9;
    --focus-container-padding-bottom:0px;
    --focus-text-spacing:10px;
   
    /* KNOWLEDGE SECTION */
    --knowledge-container-width:1240px;
    --knowledge-container-height:540px;
    --knowledge-container-offset:100px;
    --knowledge-title-size:54px;
    --knowledge-grid-width:1240px;
    --knowledge-grid-height:460px;
    --knowledge-item-width:calc(1240px / 3);
    --knowledge-item-height:230px;
    --knowledge-item-title-size:26px;
    --knowledge-item-text-size:18px;

    /* EDUCATION SECTION */
    --education-container-width:980px;
    --education-container-height:300px;
    --education-container-offset:100px;
    --education-title-size:54px;
    --education-school-width:490px;
    --education-school-height:210px;
    --school-logo-width:144px;
    --school-logo-height:144px;
    --school-info-size:14px;

    /* CONTACT SECTION */
    --contact-container-width:980px;
    --contact-container-height:380px;
    --contact-me-container-offset:100px;
    --logo-button-size:167px;
    --logo-button-hover-scale:1.05;
    --name-text-size:40px;
    --name-text-offset:20px;
    --say-hi-size:72px;
    --say-hi-offset:15px;
    --say-hi-hover-color:#FFC20A;
}


/* PAGE CONTENT */
.page-content{

    width:var(--portfolio-container-width);
    margin:0 auto;
    padding-top:calc(155px + 20px);
    display:flex;
    flex-direction:column;
    align-items:center;

}


/* MAIN CONTAINER */
.about-introduction-container{

    width:100%;
    height:var(--portfolio-container-height);
    display:flex;
    justify-content:space-between;
    align-items:center;

}


/* PROFILE IMAGE */
.about-profile-image{

    width:var(--profile-image-size);
    height:var(--profile-image-size);
    object-fit:cover;

}


/* INTRODUCTION CONTENT */
.about-introduction-content{

    width:var(--introduction-width);
    height:var(--introduction-height);

    margin-left:var(--introduction-image-offset);

    display:flex;
    flex-direction:column;
    align-items:flex-start;

    position:relative;

}


/* TITLE */
.about-introduction-title{

    margin:0;
    font-family:"Open Sans", sans-serif;
    font-size:var(--intro-title-size);
    font-weight:700;
    color:var(--portfolio-font-color);
    text-align:left;

}


/* INTRODUCTION TEXT */
.about-introduction-text{

    width:90%;
    margin-top:10px;
    font-family:"Open Sans", sans-serif;
    font-size:var(--intro-paragraph-size);
    color:var(--portfolio-font-color);
    text-align:left;

}

/* ============================================== */
/* MY FOCUS IS */
/* ============================================== */
/* MAIN FOCUS CONTAINER */
.focus-container{

    width:var(--focus-container-width);
    margin-top:var(--focus-container-offset);

    position:relative;

    display:flex;
    justify-content:space-between;
    align-items:flex-start;

    padding-top:var(--focus-title-size);

}

/* SECTION TITLE */
.focus-title{

    position:absolute;
    top:0;
    left:0;
    width:100%;
    margin:0;
    font-family:"Open Sans",sans-serif;
    font-size:var(--focus-title-size);
    font-weight:700;
    color:var(--portfolio-font-color);
    text-align:center;

}

/* SUB CONTAINERS */
.focus-1,
.focus-2{

    width:var(--focus-sub-container-width);
    position:relative;

}



/* SUB TITLES */
.focus-sub-title{

    width:100%;
    margin:0;

    font-family:"Open Sans",sans-serif;
    font-size:var(--focus-sub-title-size);
    font-weight:700;
    color:var(--portfolio-font-color);
    text-align:center;

}

/* TEXT BOX */
.focus-text{

    width:90%;

    margin:var(--focus-text-spacing) auto 0 auto;

    font-family:"Open Sans",sans-serif;
    font-size:var(--focus-text-size);
    font-weight:400;
    color:var(--portfolio-font-color);
    text-align:left;

}

/* ============================================== */
/* KNOWLEDGE */
/* ============================================== */

/* MAIN KNOWLEDGE CONTAINER */
.knowledge-container{

    width:var(--knowledge-container-width);
    height:var(--knowledge-container-height);
    margin-top:var(--knowledge-container-offset);
    position:relative;

}

/* SECTION TITLE */
.knowledge-title{

    width:100%;
    margin:0;
    position:absolute;
    top:0;
    font-family:"Open Sans",sans-serif;
    font-size:var(--knowledge-title-size);
    font-weight:700;
    color:var(--portfolio-font-color);
    text-align:center;

}

/* KNOWLEDGE GRID */
.knowledge-grid{

    width:var(--knowledge-grid-width);
    height:var(--knowledge-grid-height);
    position:absolute;
    bottom:0;
    display:grid;
    grid-template-columns:
    repeat(3, 1fr);
    grid-template-rows:
    repeat(2, 1fr);

}

/* INDIVIDUAL KNOWLEDGE BOX */
.knowledge-item{

    width:var(--knowledge-item-width);
    height:var(--knowledge-item-height);
    position:relative;

}

/* KNOWLEDGE TITLE */
.knowledge-item-title{

    width:100%;
    margin:0;
    position:absolute;
    top:0;
    font-family:"Open Sans",sans-serif;
    font-size:var(--knowledge-item-title-size);
    font-weight:700;
    color:var(--portfolio-font-color);
    text-align:center;

}

/* KNOWLEDGE ITEMS */
.knowledge-item-text{

    width:100%;
    margin:0;
    position:absolute;
    top:45px;
    font-family:"Open Sans",sans-serif;
    font-size:var(--knowledge-item-text-size);
    font-weight:400;
    color:var(--portfolio-font-color);
    text-align:center;

}

/* ============================================== */
/* EDUCATION */
/* ============================================== */

/* MAIN EDUCATION CONTAINER */
.education-container{

    width:var(--education-container-width);
    height:var(--education-container-height);
    margin-top:var(--education-container-offset);
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;

}

/* SECTION TITLE */
.education-title{

    width:100%;
    margin:0;
    position:absolute;
    top:0;
    font-family:"Open Sans",sans-serif;
    font-size:var(--education-title-size);
    font-weight:700;
    color:var(--portfolio-font-color);
    text-align:center;

}

/* SCHOOL CONTAINERS */
.education-school{

    width:var(--education-school-width);
    height:var(--education-school-height);
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;

}

/* SCHOOL LOGO */
.school-logo{

    width:var(--school-logo-width);
    height:var(--school-logo-height);
    object-fit:contain;

}

/* SCHOOL INFORMATION */
.school-info{

    width:100%;
    position:absolute;
    bottom:0;
    margin:0;
    font-family:"Open Sans",sans-serif;
    font-size:var(--school-info-size);
    font-weight:400;
    color:var(--portfolio-font-color);
    text-align:center;

}

/* ============================================== */
/* CONTACT ME */
/* ============================================== */

/* MAIN CONTACT CONTAINER */
.contact-container{

    width:var(--contact-container-width);
    height:var(--contact-container-height);
    margin-top:var(--contact-me-container-offset);
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;

}

/* LOGO BUTTON */
.logo-button{

    width:var(--logo-button-size);
    height:var(--logo-button-size);
    object-fit:contain;
    transition:transform 0.2s ease;

}

/* LOGO HOVER EFFECT */
.logo-button:hover{

    transform:scale(var(--logo-button-hover-scale));

}

/* NAME */
.name-text{

    margin:var(--name-text-offset) 0 0 0;
    font-family:"Open Sans",sans-serif;
    font-size:var(--name-text-size);
    font-weight:700;
    color:var(--portfolio-font-color);
    text-align:center;

}

/* SAY HI BUTTON */
.say-hi-button{


    display:block;

    margin-top:var(--say-hi-offset);

    font-family:"Open Sans",sans-serif;
    font-size:var(--say-hi-size);
    font-weight:700;
    color:var(--portfolio-font-color);

    text-decoration:none;

    cursor:pointer;

    transition:color 0.2s ease;


}

/* SAY HI HOVER */
.say-hi-button:hover{

    color:var(--say-hi-hover-color);

}